#foto{
    width: 20%;
    height: 20%;
    background-image: 10px;
    border: solid 5px;
    border-radius: 30px;
}
#titulo{
    padding: 50px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 60px;
    width: 35%;
    height: 60px;
    margin: 20px;
    background: linear-gradient(to left, red,red,black);
    border-radius: 5px;
    box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 5);
}
#um{
    display: flex;
      align-items:center;
    justify-content:center;
    align-items: center;
}
.dois2{
    
     text-align: center;
    width: 70%;
    height: 40%;
    margin: 100px;
    background: linear-gradient(to left, black, black,black);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0,0, 5);
    min-height: 100px;
}
.dois3{
    color: red;
    padding: 7px;
    font-family: monospace;
}
#insta{
    width: 20%;
    height: 20%;
    background-image: 15px;
    border: solid 5px rgb(8, 8, 8);
    border-radius: 30px;
}
#face{
    width: 23%;
    height: 40%;
    background-image: 100px;
    border: solid 5px rgb(8, 8, 8);
    border-radius: 30px;
}
#linked{
    width: 19%;
    height: 20%;
    background-image: 15px;
    border: solid 5px rgb(8, 8, 8);
    border-radius: 30px
}

